// Navigation code here


//needs work
// header{
// 	display: flex;
//     justify-content: flex-end;
// }

// header nav{
// 	width: 75%;
// 	display: flex;
// 	flex-direction: row;
// 	text-align: center;
// 	align-items: center;
// }


// body {
//     @media @phone {
//         // flex-direction: column;
//         width: 90%;
//         .blast{
//             width: 100%;
//             height: auto;
//         }

//            .sky {
//             display:none;
//         }
//            .launch {
//                display:none;

//            }
        

    // } //media ends

h1{
    display: block;
    margin: 0px auto;
    font-size: 4rem;
}

.navdiv {
    display: flex;
    // flex-direction: row;
    // width: 100%;
    // flex-direction:column;
    // justify-content: center;
    background: #f4f4f4;
    flex-direction: column;
    // wrap: nowrap;
    text-align: center;
    .mixin1();

}

  nav a{
    //  width: 100%;
	//margin: 5% 4%;
	// color: black;
    text-decoration: none;
    // font-size:1.6rem;
    // margin: 0px auto;
    // display: flex;
    // flex-direction:row;
    // justify-content: center;
    // wrap: nowrap;
    margin-left: 30px;
    // margin-right: 90px;
.mixin2();

   
    // @media @phone {
    //     // flex-direction: column;
    //     width: 90%;
    //        .sky {
    //         display:none;
    //     }
        

    // } //media ends
} // nav a ends

.spaccepic {
    //to center image
    display: block;
    margin: 0px auto;
    
}

//  body {
       
//     @media @phone {
//         // flex-direction: column;
//         width: 90%;
//         font-size:6rem;

//            .sky {
//             display:none;
//         }
        

//     } //media ends
// }

// .space-images {
//     display:flex;
//     flex-wrap: wrap;
//     width: 100%;
//     @media @phone {
//     justify-content: center;
//     } //closes.space-images

//            .sky {
//             @media @phone{
//             display:none;
//                }
//         } // closes.sky
//            .launch {
//             @media @phone{
//                display:none;
//             }
//            }//closes.launch
//            .blast{
//             @media @phone{
//                 width: 100%;
                
//             }
//            } //.blastends

// }